@import 'tailwindcss';
@plugin "daisyui";

:root {
    --disabled-color: var(--color-gray-300);
    --primary-color: #ffa24d;

    --thing-font-weight-normal: var(--breakpoint-2xl);
    --thing-line-height-expanded: var(--breakpoint-2xl);
    --th-color-primary: var(--color-primary);
    --th-color-secondary: var(--color-secondary);
    --th-text-sm: var(--text-sm);
    --th-text-xs: var(--text-xs);

    --th-card-background: var(--color-base-200);
    --icon-primary-color: var(--color-base-200);
    --icon-secondary-color: var(--color-base-100);
    --icon-primary-opactity: 1;
    --icon-secondary-opactity: 0.5;
    --tile-icon-hover-opacity: 0.1;

    /*font*/
    --th-font-size-sm: 0.8em;
    --th-font-size-md: 1em;
    --th-font-size-lg: 1.2em;

    /*color*/
    --th-dialog-header-border-color:   rgba(0, 0, 0, 0.12);
    --th-loayout-background: var(--color-base-300);

}
